doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')    
    
    script(src='../javascripts/manage_user.js')

  body(onload="initDoc()")
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          div(id=userPanel)
            div(id='divLoggedOut')
              ul(class='sidebar-nav')
                li
                    a(href='/users/login') log in
                li
                    a(href='/users/register') sign up
            div(id='divLoggedIn')
                    label(id='lablUser') user place holder
                    button(onclick="sendLogOut()") log out
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='relative path') Link1
              li 
                a(href='relative path') Link2
              li 
                a(href='relative path') Link3
             
              li 
                hr
              li 
                a(href='relative path') Link4
              li 
                a(href='relative path') Link5
              li 
                a(href='relative path') Link6
                
        div(class='col-sm-10')
          block content