extends layout

block content
	button(onclick="loadWords()") init
	div(id='divReady' dislplay=none)
		div 
			label(id='currentQuestion') current question:
		div
			button(id='showAnswer' onclick="showAnswer()") show answer
			label(id='CurrentAnswer') label cont 
		div
			button(id='nextQ' onclick="nextQuestion()") next question