extends layout

block content
	button(onclick="loadWords()") init
	div(id='divReady' dislplay=none)
		div 
			label(id='lblCurrentQuestion') current question:
		div
			button(id='showAnswer' onclick="showAnswer(true)") show answer
			label(id='lblCurrentAnswer') label cont 
		div
			button(id='btnRight' onclick="right()") right
			button(id='btnWrong' onclick="wrong()") wrong
		div
			button(id='nextQ' onclick="selectNextWord()") next question
		div
			button(id=testBotton onclick="testNextWord()") testNextQ