extends layout

block settingsHeader
	script(src='../javascripts/settings.js')


block content
	div(id='divLanguages')
		ul(class='clsListStack')
			li
				label 'languages'
			li
				label(id='lblLangLoading') '--laoding --'
			li
				select(name='selectLang' id='combLang' onchange='handleLangSelect()')
					option(value='1') 'option1' 
					option(value='2') 'option2' 
					option(value='3') 'option3' 
					
					
					