.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


#divReady{
	display:none; 
}


#lblCurrentAnswer{
	visibility:hidden;
}

button:disabled{
	background:#C0CEB3;
	color:#9D9F9B;
}
button:enabled{
	background:#9CD17A;
}




